[Unit]
Description=Bot Bitcoin price in Twitter
After=network.target
StartLimitInterval=5

[Service]
EnvironmentFile=/path/to/btc_bot.env
ExecStart=npm start
WorkingDirectory=/path/to/bot_coin_twitter
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
